<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <title>Luna Fire Information</title>
    <link href="styles.css" rel="stylesheet">
    <meta property="og:title" content="Live Updates on #LunaFire" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Live updates on the #LunaFire near Chacon, New Mexico." />
    <meta property="og:image" content="https://www.lunafire.info/og.jpg" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="column">
          <h1>Luna Fire Information</h1>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <p>Thank you to the National Forest Service for getting the Luna Fire under control and minimizing the impact to our communities. This website is now decomissioned.</p>
        </div>
      </div>
    </div>
  </body>
</html>
