<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Luna Fire Information</title>
    <link href="styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="column">
          <h1>Luna Fire Information</h1>
          <p>This website provides up-to-the-minute information on the Luna Fire, in New Mexico's Taos, Mora and Colfax counties. This website is updated every ten minutes. </p>
          <p>
            <b>Last updated:</b> <%= Time.now.utc.localtime("-06:00").strftime("%b %e, %l:%M %p") %> MDT
            <b>Size:</b> <%= @acreage %> acres
            <b>Cause:</b> Unknown
          </p>
        </div>
      </div>
      <div class="row">
        <div class="column maps">
          <h2>Maps</h2>
          <h3>Infrared Satellites</h3>
          <i>May be delayed by up to 12 hours. Red is most recent.</i>
          <iframe src="https://sartopo.com/map.html#ll=36.32176,-105.41931&z=10&b=mbt&a=modis_mp"></iframe>
          <h3>Live Imaging Satellite (GOES)</h3>
          <iframe src="https://caltopo.com/map.html#ll=36.32176,-105.41931&z=9&b=goes_0&a=mba%2Cgoesfire"></iframe>
          <h2>More Information Sources</h2>
          <ul>
            <li><a href="https://www.fireweatheravalanche.org/wildfire/incident/155594/new-mexico/luna-fire?fbclid=IwAR0GP3NzRT1iLwvhucMHhKUz3xBrtySKYdIS9h5DL1MFcpIX5NlawRP9Cwo-fire">Fire, Weather and Avalanche Center</a></li>
            <li><a href="https://www.facebook.com/CarsonNF">Carson National Forest</a></li>
            <li><a href="https://www.facebook.com/Angel-Fire-Fire-Dept-1063082687042210">Angel Fire Fire Department</a></li>
            <li><a href="https://www.facebook.com/taosnews">Taos News</a></li>
          </ul>
          <h2>What is This?</h2>
          <p>This website aggregates information from many sources on the Luna Fire, which is currently burning in Taos, Mora and Colfax counties in New Mexico.</p>
          <p>This site only posts official fire information and easily verified factual claims (e.g. air assets verified by ADS-B, photos of the fire, etc).</p>
          <p>This website is built and maintained by <a href="mailto:nate.berkopec@gmail.com">Nate Berkopec</a>, a resident of the Taos area. It is not official information and should not be quoted directly.</p>
          <p>This is a free and open source project. You can contribute <a href="https://github.com/nateberkopec/lunafire">on GitHub.</a></p>
        </div>
        <div class="column"> 
          <h2>Feed</h2>
          <i>Please wait for images to load</i>
          <% @feed_items.each do |i| %>
            <%= i.to_s %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>